body {
    font-size: 16px;
    letter-spacing: 0px;
    color: #222f3e;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.1)
}

.slides-navigation {
    z-index: 6;
}

.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    z-index: 3;
    top: 50%;
    text-align: center;
    margin-top: -50px;
}

.titleMessage .heading p {
    color: white;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0,2);
    font-weight: 300;
    letter-spacing: 7px;
}

.titleMessage .heading .main {
    font-size: 24px;
}

.titleMessage .heading .sub {
    font-size: 60px;
}

.titleMessage .heading .sub::before,
.titleMessage .heading .sub::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid white;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}

.section {
    padding: 100px 0;
    color: #222f3e;
    z-index: 0;
}

.section p {
    font-size: 16px;
}

.section h2 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 75px;
}

.section h2::before,
.section h2::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid #222f3e;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}

.aboutMeImage {
    max-width: 90%;
    margin-left: 5%;
}

.experienceImage {
    max-width: 90%;
    margin-left: 5%;
    margin-top: -70px;
}

.experienceSection {
    background-color: #ecf0f1;
}

.inner {
    border-radius: 15px;
    background-color: white;
    width: 80%;
    height: 250px;
    margin-left: 10%;
    margin-bottom: 20px;
    position: relative;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.inner .item img {
    width: 90%;
    min-height: 240px;
    max-height: 240px;
    margin-top: 5px;
    margin-left: 2%;
    position: absolute;
    z-index: 0;
}

.inner .item .icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -50px;
    text-align: center;
    z-index: -1;
}

.inner .item .icons i {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.inner .item .icons a {
    width: 40px;
    height: 40px;
    background-color: #222f3e;
    position: relative;
    display: inline-block;
}

.inner .item .imageOverlay {
    width: 90%;
    min-height: 240px;
    max-height: 240px;
    margin-top: 5px;
    margin-left: 2%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.inner hr {
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.inner:hover {
    background-color: #576574;
    color: white;
}

.inner:hover h5 {
    color: white;
}

.inner:hover hr {
    border-top: 1px solid white;
}

.inner:hover .icons {
    z-index: 3;
}

.inner:hover .imageOverlay {
    opacity: 1;
}

.spec h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #222f3e;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.spec p {
    margin-bottom: 30px;
}

.portfolioSection {
    position: relative;
}

.portfolioSection .works {
    background: linear-gradient(
        338.83deg
        ,#f8c6ff -3.41%,rgba(255,196,255,0) 52.31%),#ffeec4;
    border-radius: 15px;
    max-width: 80%;
    max-height: 10%;
    margin-left: 10%;
    position: relative;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

/* .portfolioSection .works {

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
} */

.portfolioSection .works:hover {
    transform: translate3d(0,-5px,0);
    box-shadow: 0 50px 50px rgb(0 0 0 / 30%);
}

.portfolioSection .works .title {
    text-align: right;
    margin-top: 20px;
    margin-right: 10px;
    color: #222f3e;
}

a:hover {
    text-decoration: none;
}

.portfolioSection .works .slideImage img {
    width: 80%;
    max-height: 500px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10%;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.slideImage {
    display: none;
    overflow: hidden;
    position: relative;
    animation-duration: 3s;
    animation-name: slideIn;
}

@keyframes slideIn {
    from {
        margin-left: 100%;
        width: 100%;
        height: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
        height: 100%;
    }
}

.prevButton, .nextButton {
    position: absolute;
    top: 50%;
}

.prevButton {
    left: 18%;
}

.nextButton {
    right: 18%;
}

.fa-angle-left,
.fa-angle-right {
    color: #222f3e;
}

.gallerySection {
    background-color: #ecf0f1;
}

.filter a {
    color: #576574;
    border: 1px solid #576574;
    padding: 10px 20px;
    display: block;
}

.filter li {
    display: inline-block;
    padding: 5px;
}

.filter .current {
    background-color: #222f3e;
    border-color: #222f3e;
    color: white;
}

.filter {
    text-align: center;
    width: 100%;
}

.filter ul {
    padding: 0px;
}

.section .heading {
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
}

.items li {
    display: inline-block;
    padding: 5px;
}

.items li img {
    width: 100%;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item {
    position: relative;
    display: block;
    overflow: hidden;
}

.itemsContainer {
    width: 100%;
}

.items .icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -40px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.items .icons a {
    width: 40px;
    height: 40px;
    background-color: #222f3e;
    position: relative;
    display: inline-block;

    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;
}

.items .imageOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items :hover .imageOverlay {
    opacity: 1;
}

.items .openButton {
    float: left;
    left: -2000px;
    z-index: -10;
}

.items .link {
    float: right;
    right: -2000px;
    z-index: -10;
}

.items :hover .openButton {
    left: 0px;
}

.items :hover .link {
    right: 0px;
}

.items :hover img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);
}

.items {
    padding: 0px;
}

.contactSection {
    background-color: #222f3e;
    text-align: center;
    color: white;
}

.contactButton {
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
}

.contactButton:hover {
    text-decoration: none;
    color: #222f3e;
    background-color: white;
}

.copyrightSection {
    background-color: #222f3e;
    color: white;
    padding: 30px 5px;
}

.copyrightSection p {
    margin: 0;
    font-weight: 600;
}

#navigation {
    background-color: #222f3e;
    padding: 20px 10px;
    z-index: 10;
}

#navigation li {
    padding: 0 10px;
}

#navigation li a {
    color: white;
}

.navbar-brand,
.navbar-brand:hover {
    color: white;
}

.navbar-toggler-icon {
    background: url(../images/menu.png);
    background-size: 100%;
}

.fixedNav #navigation {
    position: fixed;
    top: 0px;
    width: 100%;
}

.loader {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 20;
}

.loader .inner {
    width: 100%;
    height: 100%;
    background: url(../images/basketball1.gif) center center no-repeat;
}